@import 'common/style/config';

$calendar-color: #000000 !default;
$calendar-background: #ffffff !default;
$calendar-day-hover-background: #f5f7fa !default;
$calendar-day-in-range-background: #eaeef6 !default;
$calendar-width: 280px !default;
$calendar-padding: 0px !default;
$cell-margin: 0 !default;
$cell-size: (($calendar-width - 2 - $calendar-padding * 2) / 7) - ($cell-margin * 2) !default;
$cell-size-no-border: (($calendar-width - 1 - $calendar-padding * 2) / 7) - ($cell-margin * 2) !default;
$calendar-shadow: rgba(1, 1, 5, 0.00) 0 0 1em !default;

$piano-bg-white: $color-white;
$piano-bg-info: $color-primary-blue;

$border-color: rgba(28,37,68, .1);

body {
  @include graphik-13-regular();
}

.calendar-divider {
  height: inherit;
  width: 1px;
  background-color: $border-color;
}

// DateRange.js
.rdr-DateRange {
  display: inline-block;
  box-sizing: border-box;
  white-space: nowrap;
  background: $calendar-background;
  box-shadow: $calendar-shadow;
  position: relative;

  .rdr-Calendar {
    box-shadow: none;
  }
}

// Calendar.js
.rdr-Calendar {
  display: inline-block;
  box-sizing: border-box;
  width: $calendar-width;
  padding: $calendar-padding;
  white-space: normal;
  letter-spacing: 0;
  color: $calendar-color;
  background: $calendar-background;
  box-shadow: $calendar-shadow;
}

.rdr-MonthAndYear-innerWrapper {
  font-size: 12px;
  line-height: 18px;
  box-sizing: border-box;
  height: 38px;
  padding: 10px 0;
  text-align: center;
  background-color: $piano-bg-info;
  border: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  &.first {
    border-top-left-radius: 4px;
  }
  &.right {
    border-top-right-radius: 4px;
  }
  &.remove-left-border {
    border-left: transparent;
  }
}

.rdr-MonthAndYear {
  color: $piano-bg-white;
}

.rdr-MonthAndYear-button {
  display: inline;
  box-sizing: border-box;
  padding: 0;
  border: 0;
  outline: none;
  box-shadow: none;
  opacity: .5;

  &.prev {
    float: left;
    margin-left: 10px;
  }

  &.next {
    float: right;
    margin-right: 10px;
  }
}

.rdr-WeekDays {
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
  &.remove-left-border {
    border-left: transparent;
  }
}

.rdr-WeekDay {
  font-size: 9.5px;
  display: inline-block;
  box-sizing: border-box;
  width: $cell-size;
  margin-bottom: 4px;
  text-align: center;
  letter-spacing: initial;
  background-color: #f3f4f5;
  color: $piano-bg-info;
  padding: 4px 0;
  &.remove-left-border {
    width: $cell-size-no-border;
  }
}

.rdr-Days {
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
  &.remove-left-border {
    border-left: transparent;
  }
}

// DayCell.js
.rdr-Day {
  font-size: 12px;
  line-height: $cell-size;
  display: inline-flex;
  box-sizing: border-box;
  width: $cell-size;
  height: $cell-size;
  transition: transform 0.1s ease;
  text-align: center;
  letter-spacing: initial;
  position: relative;
  cursor: pointer;

  &.remove-left-border {
    width: $cell-size-no-border;
  }

  &.is-inRange {
    background: $calendar-day-in-range-background;
  }

  > * {
    width: inherit;
    height: inherit;
    position: absolute;
  }

  .is-today {
    border-radius: 50%;
    border: 1px solid #a6aab6;
  }

  .is-passive {
    color: grey;
  }

  .is-inRange {
    color: $piano-bg-info;
    &.is-passive {
      color: grey;
    }
  }

  :hover {
    background: $calendar-day-hover-background;
    border-radius: 50%;
  }

  // parent elem
  &.day-start-edge-right, &.day-hover-border-right {
    background: transparent;
    border-right: ($cell-size/2) solid $calendar-day-in-range-background;
  }
  // child
  .day-start-edge-right {
    border-radius: 50%;
    background-color: $piano-bg-info;
    color: $piano-bg-white;
  }

  &.day-end-edge,  &.day-hover-border-left, &.day-start-edge-left {
    background: transparent;
    border-left: ($cell-size/2) solid $calendar-day-in-range-background;
  }

  &:not(.day-end-edge) .day-hover-border-left {
    left: -($cell-size/2);
  }

  // to bypass current single-date selection, will refactor later
  &:not(.day-start-edge-right) .day-end-edge, .day-start-edge-left {
    border-radius: 50%;
    background-color: $piano-bg-info;
    color: $piano-bg-white;
    left: -($cell-size/2);

    :hover {
      background-color: $piano-bg-info;
    }
  }
}

// PredefinedRanges.js
.rdr-PredefinedRanges {
  width         : 140;
  display       : 'inline-block';
  vertical-align : 'top';
}

.rdr-PredefinedRangesItem {
  display       : 'block';
  font-size      : 12;
  color         : '#2c3e50';
  padding       : '10px 14px';
  border-radius  : '2px';
  background    : '#ecf0f1';
  text-decoration: 'none';
  margin-bottom  : 6;
}

.rdr-PredefinedRangesItemActive {
  color         : '#E74C3C';
}


